.list-clients {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: center; */
}
.clients-heading {
  margin-bottom: 30px;

  color: $primaryColor;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
.link-clients {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4%;
  fill: #afb1b8;

  transition: border $transition250ms, fill $transition250ms;

  &:hover,
  &:focus {
    fill: $accentColor;
    border: 1px solid $accentColor;
  }
}
.clients .item {
  margin-bottom: 30px;
  width: calc((100% - 30px) / 2);
  /* width: calc((100% - 5 * 30px) / 6); */
  &:nth-child(2n - 1) {
    margin-right: 30px;
  }
  &:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
  &:not(:last-child) {
    /* margin-right: 30px; */
  }
}
