.features-list {
  /* display: flex; */
  & .item {
    /* width: calc((100% - 3 * 30px) / 4); */
    &:not(:last-child) {
      margin-bottom: 30px;
      /* margin-left: 30px; */
    }
  }
  & .heading {
    margin-top: 0px;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $primaryColor;
  }
  & .text {
    font-size: 14px;
    line-height: 1.71;
    color: $secondaryColor;
  }
}
.box-features {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  border: none;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}
