.features-list {
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and(min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.features-list .item {
  @media screen and(max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and(min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);

    &:nth-child(2n - 1) {
      margin-right: 30px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }

  @media screen and(min-width: 1200px) {
    width: calc((100% - 30px * 3) / 4);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.features-list .heading {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primaryColor;
}

.features-list .text {
  font-size: 14px;
  line-height: 1.71;
  color: $secondaryColor;
}

.box-features {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  border: none;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}
