.features-list {
  @media screen and(min-width: 768px) {
    display: flex;
  }
}

.features-list .item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features-list .heading {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primaryColor;
}

.features-list .text {
  font-size: 14px;
  line-height: 1.71;
  color: $secondaryColor;
}
.box-features {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  border: none;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}
