.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
.container-nav {
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-menu {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: fill $transition250ms;

  .icon-menu-close {
    display: none;
  }

  &.is-open .icon-menu-open {
    display: none;
  }

  &.is-open .icon-menu-close {
    display: block;
  }

  &:hover,
  &:focus {
    color: $accentColor;
    fill: $accentColor;
  }
}
.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 60px;
  padding-bottom: 60px;

  width: 100%;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  &.is-open {
    display: block;
  }
}
.list-nav .item {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 60px;
  }
}
.list-nav .link {
  display: inline-block;

  color: $primaryColor;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color $transition250ms, fill $transition250ms;

  &:hover,
  &:focus {
    color: $accentColor;
    fill: $accentColor;
  }
}
.link.link-current {
  position: relative;
  padding-bottom: 8px;

  color: $accentColor;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background: $accentColor;
    border-radius: 2px;
  }
}
.adr-list .link {
  display: inline-block;

  color: $secondaryColor;
  fill: $secondaryColor;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color $transition250ms, fill $transition250ms;

  &:hover,
  &:focus {
    color: $accentColor;
    fill: $accentColor;
  }
}
.adr-list .item:not(:last-child) {
  margin-bottom: 16px;
}
.icon-header {
  margin-right: 10px;
}
