.page-header {
  border-bottom: 1px solid #ececec;
}

.container-nav {
  @media screen and(max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.main-nav {
  display: flex;
  align-items: center;
  @media screen and(max-width: 767px) {
    justify-content: space-between;
  }
}

.menu-container {
  display: flex;
  flex-grow: 1;

  @media screen and(max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 60px;
    padding-bottom: 60px;

    width: 100%;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    &.is-open {
      display: block;
    }
  }
}
.list-nav {
  @media screen and(min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
  @media screen and(min-width: 1200px) {
    margin-left: 93px;
  }
}

.list-nav .item {
  @media screen and(max-width: 767px) {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 60px;
    }
  }

  @media screen and(min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.list-nav .link {
  display: inline-block;

  color: $primaryColor;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color $transition250ms, fill $transition250ms;

  &:hover,
  &:focus {
    color: $accentColor;
    fill: $accentColor;
  }

  @media screen and(min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.14;
  }
}

.link.link-current {
  position: relative;

  color: $accentColor;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background: $accentColor;
    border-radius: 2px;
  }
  @media screen and(max-width: 767px) {
    padding-bottom: 8px;
  }
}
.adr {
  @media screen and(min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
.adr-list .link {
  display: inline-block;

  color: $secondaryColor;
  fill: $secondaryColor;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color $transition250ms, fill $transition250ms;

  &:hover,
  &:focus {
    color: $accentColor;
    fill: $accentColor;
  }

  @media screen and(min-width: 768px) {
    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 1.16;
  }

  @media screen and(min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
  }
}
.adr-list {
  @media screen and(min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.adr-list .item:not(:last-child) {
  @media screen and(max-width: 767px) {
    margin-bottom: 16px;
  }
  @media screen and(min-width: 768px) {
    margin-bottom: 10px;
  }
  @media screen and(min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.icon-header {
  margin-right: 10px;
  @media screen and(min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }
}
