.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  color: $primaryColor;

  @media screen and(min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}

.logo-web {
  color: $accentColor;
}
