.page-header {
  @media screen and(max-width: 767px) {
    position: relative;
  }
}

.btn-menu {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  transition: fill $transition250ms;

  .icon-menu-close {
    display: none;
  }

  &.is-open .icon-menu-open {
    display: none;
  }

  &.is-open .icon-menu-close {
    display: block;
  }

  &:hover,
  &:focus {
    fill: $accentColor;
  }

  @media screen and(min-width: 768px) {
    display: none;
  }
}
