.section.team {
  background-color: #f5f4fa;
}

.team .list {
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.team .item {
  &:not(:last-child) {
    @media screen and(max-width: 1199px) {
      margin-bottom: 30px;
    }

    @media screen and(min-width: 1200px) {
      margin-right: 30px;
    }
  }

  @media screen and(min-width: 768px) and(max-width: 1199px) {
    width: calc((100% - 30px) / 2);

    &:nth-child(2n - 1) {
      margin-right: 30px;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }

  @media screen and(min-width: 1200px) {
    width: calc((100% - 30px * 3) / 4);
  }
}

.team-heading {
  margin-bottom: 30px;

  color: $primaryColor;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;

  @media screen and(min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
  }
}

.name {
  margin-top: 30px;
  margin-bottom: 10px;
  color: $primaryColor;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.role {
  margin-bottom: 16px;
  color: $secondaryColor;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.link-social {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;

  transition: background-color $transition250ms, fill $transition250ms;

  &:hover,
  :focus {
    background-color: $accentColor;
    fill: #ffffff;
  }
}

.list-social {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;

  & .item-icon {
    width: 44px;
    height: 44px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.team .item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
